@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  color: #464646;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header ul,
.page-main-header ul,
.main-footer ul,
.popular ul,
.services ul,
.brand-logos,
.delivery-list,
.breadcrumbs,
.catalog-sort ul {
  list-style: none;
}

.main-header,
.page-main-header {
  background: rgba(240, 197, 46, .5);
}

.search input {
  border: 0;
  background: transparent;
}

.search input:placeholder {
  opacity: .3;
  color: #000;
}

.search input:hover:placeholder {
  opacity: .6;
}

.search input:focus:placeholder {
  opacity: 1;
}

.user-navigation {
  color: #000;
}

.main-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000;
}

.catalog {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-transform: none;
}

.main-header a:hover,
.page-main-header a:hover,
.main-footer a:hover {
  opacity: .6;
}

.main-header a:active,
.page-main-header a:active,
.main-footer a:active {
  opacity: .3;
}

.slider h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  margin-bottom: 20px;
  letter-spacing: .6px;
  color: #000;
}

.slider th {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: #464646;
}

.slider td {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #000;
}

.popular-list span {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000;
}

.service-list a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.service-list a:active {
  color: #f7e184;
}

.services-item h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000;
}

.about h2,
.contacts h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000;
}

.delivery-list li {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000;
}

.about a,
.contacts a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.about a:active,
.contacts a:active {
  opacity: .3;
}

.footer-user-navigation a {
  opacity: .7;
}

.footer-user-navigation a:hover,
.facebook:hover:before,
.instagram:hover:before,
.twitter:hover:before {
  opacity: 1;
}

.footer-user-navigation a:active,
.facebook:hover:active,
.instagram:hover:active,
.twitter:hover:active {
  opacity: .3;
}

.write-us-form label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000;
}

.write-us-form input,
.write-us-form textarea {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #000;
  border: 0;
  background-color: rgba(70, 70, 70, .2);
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: rgba(70, 70, 70, .3);
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  border: 3px solid #6f5d1c;
  background-color: transparent;
}

.write-us-form button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.write-us-form button:active {
  opacity: .3;
}

.login-form label {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000;
}

.login-form input[type='text'],
.login-form input[type='password'] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: #000;
  border: 0;
  background-color: rgba(70, 70, 70, .2);
}

.login-form input:hover {
  background-color: rgba(70, 70, 70, .3);
}

.login-form input:focus {
  border: 3px solid #6f5d1c;
  background-color: transparent;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #6f5d1c;
}

.restore {
  text-decoration: underline;
  color: #000;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.login-form button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.login-form button:active {
  opacity: .3;
}

.page-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000;
}

.breadcrumbs a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  opacity: .3;
  color: #000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: .6;
}

.breadcrumbs a:active {
  opacity: .1;
}

.breadcrumbs-current {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  opacity: .3;
  color: #000;
}

.filter fieldset {
  border: 0;
}

.filters h2,
.catalog-sort span {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000;
}

.filter legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000;
}

.filter-input+label {
  color: #000;
}

.filter-input:disabled+label {
  color: #a6a6a6;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
}

.sort span {
  margin: 23px 50px 0 2px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sorting li {
  margin-top: 20px;
  margin-right: 29px;
}

.sorting a {
  font-size: 15px;
  line-height: 30px;
  opacity: .3;
}

.sorting a:hover {
  opacity: .6;
}

.sorting a:active {
  opacity: 1;
}

.sorting-button-current a {
  opacity: 1;
}

.sort-radio+label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.sort-up+label:after {
  position: absolute;
  z-index: 1;
  top: 30px;
  content: '';
  opacity: .3;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000;
  border-left: 5px solid transparent;
}

.sort-down+label:after {
  position: absolute;
  z-index: 1;
  top: 30px;
  content: '';
  opacity: .3;
  border-top: 10px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.sort-radio:checked+label:after {
  opacity: 1;
}

.sort-radio+label:hover:after {
  opacity: .6;
}

.catalog-item h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000;
}

.catalog-item-price span {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #464646;
  letter-spacing: normal;
  text-transform: none;
}

.catalog-item img:hover {
  opacity: .7;
}

.pagination-list {
  background: rgba(0, 0, 0, .08);
}

.pagination-back a,
.pagination-forward a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000;
}

.pagination-item a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  opacity: .3;
  color: #000;
}

.pagination-item-current a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  opacity: 1;
  color: #000;
}

.pagination-item:not(.pagination-item-current) a:hover,
.pagination-item:not(.pagination-item-current) a:focus {
  opacity: .7;
}

.pagination-item:not(.pagination-item-current) a:active {
  opacity: 1;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  min-height: 299px;
  margin: 40px auto 0 auto;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.main-header-logo {
  width: 164px;
  height: 36px;
  margin-top: -18px;
  margin-bottom: 35px;
}

.top-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -9px;
  margin-bottom: 32px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 440px;
  min-height: 45px;
  margin-top: -10px;
  margin-right: 100px;
  padding-left: 34px;
}

.search-input {
  position: absolute;
  top: 0;
  width: 320px;
  padding: 16px 5px 12px 5px;
  vertical-align: middle;
  border: 0;
  outline: 0;
  background: 0;
}

.search:before {
  position: absolute;
  top: 17px;
  left: 2px;
  width: 16px;
  height: 16px;
  content: '';
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 75px;
  height: 45px;
  cursor: pointer;
  border: 2px solid #000;
  background: transparent;
}

.search-button:after {
  position: absolute;
  top: 41px;
  right: 0;
  visibility: hidden;
  width: 440px;
  content: '';
  border-bottom: 2px solid #000;
}

.search input:focus+.search-button {
  visibility: visible;
}

.search input:focus+.search-button:after {
  visibility: visible;
}

.search-button:hover {
  color: #fff;
  background-color: #000;
}

.search-button:active {
  opacity: .3;
  color: #fff;
  outline: 0;
  background-color: #000;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.login-link {
  position: relative;
  margin-right: auto;
  padding-left: 26px;
}

.login-link:before {
  position: absolute;
  top: 8px;
  left: 0;
  width: 13px;
  height: 12px;
  content: '';
  background-image: url('../img/user.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover:before {
  opacity: .6;
}

.login-link:active:before {
  opacity: .3;
}

.match {
  position: relative;
  padding-left: 23px;
}

.match:before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  content: '';
  background-image: url('../img/compare.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.match:hover:before {
  opacity: .6;
}

.match:active:before {
  opacity: .3;
}

.basket {
  position: relative;
  margin-left: 42px;
  padding-left: 25px;
}

.basket:before {
  position: absolute;
  top: 8px;
  left: 0;
  width: 12px;
  height: 12px;
  content: '';
  background-image: url('../img/cart.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket:hover:before {
  opacity: .6;
}

.basket:active:before {
  opacity: .3;
}

.catalog-navigation {
  position: relative;
  width: 540px;
}

.catalog-open {
  padding-right: 15px;
}

.catalog-open:before {
  position: absolute;
  top: 4px;
  left: 230px;
  width: 16px;
  height: 16px;
  content: '';
  opacity: .3;
  background-image: url('../img/plus.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery-navigation {
  margin-right: 35px;
}

.contacts-navigation {
  margin-right: -4px;
  margin-left: auto;
}

.site-navigation {
  position: relative;
  margin: 0;
  padding: 0;
}

.catalog-navigation:after {
  position: absolute;
  top: 113px;
  left: 540px;
  width: 100px;
  height: 7px;
  content: '';
  background-color: #fff;
}

.catalog {
  position: absolute;
  z-index: 100;
  left: -60px;
  display: none;
  width: 1160px;
  min-height: 141px;
  margin-top: -5px;
  padding-top: 28px;
  background: #f7e296;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.catalog li {
  margin-left: 60px;
  letter-spacing: normal;
}

.catalog li:nth-child(1) {
  margin-right: 5px;
}

.catalog li:nth-child(2) {
  margin-right: 15px;
}

.catalog li:nth-child(3) {
  margin-right: 400px;
}

.catalog li:nth-child(4) {
  margin-right: 30px;
}

.catalog li:nth-child(5) {
  margin-right: 700px;
}

.catalog-open:hover+.catalog {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  min-height: 141px;
  margin: -5px 0 0 0;
  padding: 28px 0 0 0;
  background: #f7e296;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.catalog:hover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  min-height: 141px;
  margin: -5px 0 0 0;
  padding: 28px 0 0 0;
  background: #f7e296;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.slider-item-button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
  display: block;
  width: 220px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000;
}

.slider-item-button:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 8px;
  content: '';
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f0c52e;
}

.slider-item-button:hover:before,
.slider-item-button:focus:before,
.slider-item-button:active:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 40px;
  content: '';
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f0c52e;
}

.slider-item-button:active {
  opacity: 1;
  color: rgba(0, 0, 0, .5);
}

.slider-controls {
  font-size: 0;
  position: absolute;
  z-index: 100;
  top: 316px;
  right: 47px;
  width: 150px;
  height: 20px;
  text-align: center;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 9px;
  padding: 3px;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 50%;
}

.slider-controls label:after {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  content: '';
  border: 1px solid #000;
  border-radius: 50%;
  background: #fff;
}

#product-1:checked~.slider-controls .slider-controls-item--1:before,
#product-2:checked~.slider-controls .slider-controls-item--2:before,
#product-3:checked~.slider-controls .slider-controls-item--3:before {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  margin: -2px;
  content: '';
  border: 1px solid #000;
  border-radius: 50%;
  background-color: inherit;
}

.slider {
  position: relative;
  width: 1160px;
  min-height: 591px;
  margin: -111px auto 0 auto;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-image {
  width: 600px;
}

.slider-1 img {
  display: block;
  margin-left: 90px;
  margin-right: auto;
}

.slider-2 img {
  display: block;
  margin: 12px auto auto 116px;
}

.slider-3 img {
  display: block;
  margin: 65px 43px 0 auto;
}

.slider-1:after {
  position: absolute;
  top: 63px;
  right: 47px;
  content: '01';
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 180px;
  font-weight: 800;
  color: #ffffff;
}

.slider-2:after {
  position: absolute;
  top: 62px;
  right: 50px;
  content: '02';
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 180px;
  font-weight: 800;
  color: #ffffff;
}

.slider-3:after {
  position: absolute;
  top: 62px;
  right: 50px;
  content: '03';
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 180px;
  font-weight: 800;
  color: #ffffff;
}

.description {
  z-index: 1;
  margin-top: 32px;
}

.description h3 {
  width: 510px;
}

.description p {
  width: 480px;
  margin-bottom: 40px;
}

.slider table {
  margin-top: 45px;
}

.slider td {
  padding-right: 74px;
  padding-bottom: 6px;
}

.slider-item:last-child td {
  padding-right: 55px;
}

.popular {
  margin-bottom: 82px;
}

.popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto 0 auto;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popular-list li {
  width: 160px;
}

.popular-list img,
.popular-list span {
  display: block;
}

.popular-image {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  background-color: rgba(240, 197, 46, .5);
}

.popular-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.monopods img {
  top: 100px;
  left: 81px;
}

.cameras img {
  top: 82px;
  left: 84px;
}

.bracelets img {
  top: 83px;
  left: 81px;
}

.watches img {
  top: 82px;
  left: 83px;
}

.quadcopters img {
  top: 84px;
  left: 80px;
}

.popular-item:hover div,
.popular-item:focus div {
  background-color: rgba(240, 197, 46, 1);
}

.popular-item:active span,
.popular-item:active img {
  opacity: .3;
}

.popular-item:active div {
  background-color: rgba(240, 197, 46, 1);
}

.services {
  position: relative;
  z-index: 0;
  min-height: 387px;
  margin-bottom: 95px;
  background-image: -webkit-linear-gradient(#fff 100px, #e5e5e5 100px);
  background-image: -o-linear-gradient(#fff 100px, #e5e5e5 100px);
  background-image: linear-gradient(#fff 100px, #e5e5e5 100px);
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.service-list {
  position: relative;
  width: 280px;
  margin: 79px 0 0 0;
  padding: 0;
}

.service-list li {
  margin-bottom: 24px;
}

.service-list:after {
  position: absolute;
  top: -80px;
  left: 277px;
  width: 7px;
  height: 320px;
  content: '';
  background-color: #000;
}

.services-button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
  display: block;
  width: 160px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000;
}

.services-button:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  width: 160px;
  height: 8px;
  content: '';
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #f0c52e;
}

.services-button:hover:before,
.services-button:focus:before {
  height: 40px;
}

.services-button:active:before {
  width: 280px;
  background: #000;
}

.services-button:active {
  color: #f7e296;
}

.services-item {
  display: none;
  width: 820px;
  margin-top: 33px;
}

#service-1:checked~.services-list .services-item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#service-2:checked~.services-list .services-item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#service-3:checked~.services-list .services-item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#service-1:checked~.service-list .slider-controls-item-1 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
  display: block;
  width: 160px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #f7e296;
  border-right: 120px solid #000;
  background: #000;
}

#service-2:checked~.service-list .slider-controls-item-2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
  display: block;
  width: 160px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #f7e296;
  border-right: 120px solid #000;
  background: #000;
}

#service-3:checked~.service-list .slider-controls-item-3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
  display: block;
  width: 160px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #f7e296;
  border-right: 120px solid #000;
  background: #000;
}

.services-description {
  width: 450px;
  margin-left: 120px;
}

.services-description h2 {
  display: block;
  margin-bottom: 32px;
}

.services-item img {
  margin-top: 42px;
  margin-left: 108px;
}

.brand-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto 83px auto;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.brand-logos a {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-filter: grayscale(100%) opacity(20%);
  filter: grayscale(100%) opacity(20%);
}

.brand-logos a:hover {
  -webkit-filter: none;
  filter: none;
}

.about-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto 50px auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about,
.contacts {
  position: relative;
  width: 560px;
  padding-top: 13px;
}

.about {
  width: 480px;
}

.about:before,
.contacts:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  content: '';
  background-color: #000;
}

.about h2,
.contacts h2 {
  padding-bottom: 5px;
}

.about p,
.contacts p {
  padding-bottom: 15px;
}

.delivery-list {
  margin: 0 0 17px 0;
  padding: 35px 35px;
}

.delivery-list li {
  position: relative;
}

.delivery-list li:before {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: -34px;
  width: 4px;
  height: 4px;
  content: '';
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts img {
  margin-top: 8px;
  margin-bottom: 43px;
}

.about a,
.write-us-open {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
  display: block;
  width: 260px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000;
}

.about a:active,
.contacts a:active {
  opacity: 1;
  color: rgba(0, 0, 0, .5);
}

.about a:before,
.write-us-open:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 260px;
  height: 8px;
  content: '';
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f0c52e;
}

.about a:hover:before,
.about a:focus:before,
.about a:active:before,
.write-us-open:hover:before,
.write-us-open:focus:before,
.write-us-open:active:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 260px;
  height: 40px;
  content: '';
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f0c52e;
}

.main-footer {
  background-color: #464646;
}

.footer-wrapper {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding: 66px 0;
  color: #fff;
}

.footer-user-navigation,
.footer-site-navigation,
.social {
  margin: 0;
  padding: 0;
}

.top-footer,
.footer-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: -3px;
}

.footer-user-navigation li {
  margin-left: 45px;
}

.footer-user-navigation a {
  color: #fff;
}

.footer-login-link {
  position: relative;
  margin-right: auto;
}

.footer-user-navigation svg {
  padding-right: 7px;
}

.footer-match {
  position: relative;
  margin-right: -4px;
}

.footer-basket {
  position: relative;
}

.footer-basket svg {
  padding-right: 6px;
}

.middle-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-site-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  width: 426px;
  margin-top: 20px;
  margin-left: -35px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #fff;
}

.footer-site-navigation a {
  color: #fff;
}

.bottom-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.line:before {
  position: absolute;
  top: 15px;
  left: 0;
  width: 80px;
  height: 7px;
  content: '';
  background-color: #fec600;
}

.social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.facebook:before {
  position: absolute;
  top: 2px;
  right: 24px;
  width: 32px;
  height: 32px;
  content: '';
  background-image: url('../img/fb.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.instagram:before {
  position: absolute;
  top: 2px;
  right: -30px;
  width: 32px;
  height: 32px;
  content: '';
  background-image: url('../img/inst.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.twitter:before {
  position: absolute;
  top: 2px;
  right: -84px;
  width: 32px;
  height: 32px;
  content: '';
  background-image: url('../img/tvt.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  min-height: 185px;
  margin: 40px auto 0 auto;
}

.page-login-link {
  position: relative;
  margin-right: auto;
}

.page-login-link a {
  opacity: .6;
}

.user {
  position: relative;
  margin-right: 23px;
  padding-left: 26px;
}

.user:before {
  position: absolute;
  top: 8px;
  left: 0;
  width: 12px;
  height: 12px;
  content: '';
  background-image: url('../img/user.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-login-link a:hover {
  opacity: 1;
}

.page-login-link a:active {
  opacity: .3;
}

.page-header {
  width: 1160px;
  margin: 38px auto 43px auto;
}

.page-title {
  margin-bottom: 21px;
  margin-left: 60px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 60px;
  padding: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  margin-right: 34px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  position: absolute;
  top: 13px;
  right: -16px;
  width: 4px;
  height: 4px;
  content: '';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.breadcrumbs-current:after {
  display: none;
}

.catalog-wrapper {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .08) 70px, rgba(255, 255, 255, .5) 70px), -webkit-linear-gradient(left, rgba(0, 0, 0, .08) calc(50% - 250px), rgba(255, 255, 255, .5) calc(50% - 250px));
  background: -o-linear-gradient(top, rgba(0, 0, 0, .08) 70px, rgba(255, 255, 255, .5) 70px), -o-linear-gradient(left, rgba(0, 0, 0, .08) calc(50% - 250px), rgba(255, 255, 255, .5) calc(50% - 250px));
  background: linear-gradient(to bottom, rgba(0, 0, 0, .08) 70px, rgba(255, 255, 255, .5) 70px), linear-gradient(to right, rgba(0, 0, 0, .08) calc(50% - 250px), rgba(255, 255, 255, .5) calc(50% - 250px));
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.filters-wrapper {
  width: 268px;
  margin-left: 60px;
}

.filters-title {
  margin-top: 23px;
  margin-bottom: 104px;
}

.filter fieldset {
  margin: 0 0 80px 0;
  padding: 0;
  border: 0;
}

.filter fieldset:nth-child(2) {
  margin-bottom: 38px;
}

.filter ul {
  margin: 22px 0 0 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 10px;
  padding-left: 38px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox+label:before {
  position: absolute;
  top: 3px;
  left: -40px;
  width: 23px;
  height: 23px;
  content: '';
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label:before {
  position: absolute;
  top: 3px;
  left: -40px;
  width: 27px;
  height: 23px;
  content: '';
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox+label:hover:before,
.filter-input-checkbox:checked+label:hover:before,
.filter-input-checkbox label:hover+label:before,
.filter-input-checkbox:checked label:hover+label:before {
  opacity: .6;
}

.filter-input-radio+label:before {
  position: absolute;
  top: 2px;
  left: -40px;
  width: 17px;
  height: 17px;
  content: '';
  border: 4px solid #000;
  border-radius: 50%;
}

.filter-input-radio:checked+label:after {
  position: absolute;
  top: 10px;
  left: -32px;
  width: 9px;
  height: 9px;
  content: '';
  border-radius: 50%;
  background-color: #000;
}

.filter-input-checkbox+label:hover:before,
.filter-input-checkbox:checked+label:hover:before,
.filter-input-checkbox label:hover+label:before,
.filter-input-checkbox:checked label:hover+label:before,
.filter-input-radio+label:hover:before,
.filter-input-radio:checked+label:hover:after,
.filter-input-radio label:hover+label:before,
.filter-input-radio:checked label:hover+label:after {
  opacity: .6;
}

.filter-button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: absolute;
  display: block;
  width: 200px;
  margin-top: -55px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000;
  border: 0;
  background: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  z-index: 1;
}

.filter-button:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 8px;
  content: '';
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f0c52e;
}

.filter-button:hover:before,
.filter-button:focus:before,
.filter-button:active:before {
  height: 40px;
}

.filter-button:active {
  color: rgba(0, 0, 0, .5);
  opacity: 1;
}

.filter legend {
  position: relative;
}

.filter legend:before {
  position: absolute;
  top: -12px;
  width: 200px;
  height: 2px;
  content: '';
  background-color: #000;
}

.range {
  display: none;
}

.range-filter {
  position: relative;
  width: 200px;
  margin-top: 35px;
}

.toggle {
  position: absolute;
  top: -10px;
  left: -5px;
  width: 4px;
  height: 4px;
  padding: 0;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.toggle-min {
  left: -5px;
}

.toggle-max {
  left: 107px;
}

.toggle-min:before {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  position: absolute;
  top: 13px;
  left: -3px;
  width: 50px;
  content: 'от 0';
  color: rgba(0, 0, 0, .2);
}

.toggle-max:before {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  position: absolute;
  top: 13px;
  left: -25px;
  width: 100px;
  content: 'до 5000';
  color: rgba(0, 0, 0, .2);
}

.scale {
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 60%;
  height: 2px;
  background: #91c92f;
}

.catalog-sort {
  margin-left: 72px;
  width: 760px;
}

.sorting {
  margin: 0;
  padding: 0;
}

.sort {
  position: relative;
  margin-bottom: 70px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: -10px;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  margin-right: 40px;
  margin-bottom: 28px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item .flag {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 57px;
  position: absolute;
  z-index: 20;
  top: 28px;
  right: 28px;
  overflow: hidden;
  width: 57px;
  height: 57px;
  text-align: center;
  text-transform: uppercase;
  opacity: .1;
  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
}

.catalog-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
}

.catalog-item-wrapper h3 {
  width: 260px;
  margin-top: 18px;
  margin-right: auto;
}

.catalog-item .actions {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, .3);
}

.buy {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
  display: block;
  width: 200px;
  margin: 125px auto auto auto;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000;
}

.buy:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 8px;
  content: '';
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f0c52e;
}

.buy:hover:before,
.buy:focus:before,
.buy:active:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 40px;
  content: '';
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f0c52e;
}

.buy:active {
  opacity: 1;
  color: rgba(0, 0, 0, .5);
}

.bookmark {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  position: relative;
  display: block;
  margin-top: 5px;
  text-align: center;
  opacity: .5;
  color: #000;
}

.bookmark:hover,
.bookmark:focus {
  opacity: 1;
}

.bookmark:active {
  opacity: .2;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 76px 0;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagination-item a {
  display: block;
  padding: 23px 14px;
}

.pagination-list li:nth-child(2) {
  margin-left: 13px;
}

.pagination-back a,
.pagination-forward a {
  display: block;
  padding: 23px 27px 23px 30px;
}

.pagination-back {
  margin-right: auto;
}

.pagination-forward {
  margin-left: auto;
}

.pagination-back:hover,
.pagination-forward:hover {
  background: rgba(0, 0, 0, .16);
}

.pagination-back:active a,
.pagination-forward:active a {
  opacity: .3;
}

.page-user {
  margin-right: -25px;
  opacity: .7;
}

.footer-login-link a {
  opacity: .7;
}

.footer-login-link a:hover {
  opacity: 1;
}

.footer-login-link a:active {
  opacity: .3;
}

.modal {
  position: fixed;
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation: bounce .6s;
  animation: bounce .6s;
}

.write-us {
  z-index: 200;
  top: 120px;
  left: 50%;
  width: 760px;
  margin-top: -90px;
  margin-left: -480px;
  padding: 77px 100px;
  background-color: #fff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

.modal-close {
  font-size: 0;
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  opacity: .5;
  border: 0;
  border-radius: 50%;
  background-color: #f0c52e;
}

.modal-close:before,
.modal-close:after {
  position: absolute;
  top: 27px;
  right: 12px;
  width: 30px;
  height: 2px;
  content: '';
  background-color: #fff;
}

.modal-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
  outline: 0;
}

.modal-close:active {
  opacity: .3;
}

.write-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.write-us-form p {
  width: 360px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.write-us-form p:first-child {
  margin-right: 40px;
}

.write-us-form input,
.write-us-form textarea {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  margin-top: 3px;
  padding: 10px 20px;
  color: #464646;
  border: 2px solid transparent;
  background-color: #f2f2f2;
}

.write-us-item textarea {
  width: 760px;
  height: 155px;
  padding-top: 15px;
  resize: none;
}

.write-us-form button {
  position: relative;
  display: block;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #e5e5e5;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  border: 2px solid #f0c52e;
  outline: none;
  background-color: #fff;
}

.write-us-button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  position: relative;
  display: block;
  width: 200px;
  margin-top: 15px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000;
  border: 0;
  background: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

.write-us-button:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 8px;
  content: '';
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f0c52e;
}

.write-us-button:hover:before,
.write-us-button:focus:before,
.write-us-button:active:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 40px;
  content: '';
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #f0c52e;
}

.write-us-button:active {
  opacity: 1;
  color: rgba(0, 0, 0, .5);
}

.modal-map {
  z-index: 200;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 560px;
  margin-top: -290px;
  margin-left: -480px;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

.modal-map p {
  position: absolute;
  margin: 0;
  background-color: #e9e9e9;
}

.modal-map iframe {
  position: relative;
  margin: 0;
  border: 0;
}